{% extends "layout.html" %}
{% block content %}
    <div class="site-section bg-light">
      <div class="container">
          <div class="row">
            <div class="col-md-6 mb-5">
                <div class="media">
                    <img class="img-fluid w-50 rounded-circle mb-4" src="{{ image_file }}">
                    <div class="media-body">
                        <h2 class="account-heading">{{ current_user.username }}</h2>
                        <p class="text-secondary">{{ current_user.email }}</p>
                        <p class="text-secondary">{{ current_user.about_me }}</p>
                        <p class="text-secondary">Last seen on: {{ current_user.last_seen }}</p>
                    </div>
                </div>
                 <button class="btn btn-primary py-2 px-4 text-white" onclick="showAccountUpdateFields()">Update account info</button>
                <form id="accountUpdateForm" style="display: none;" method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account Info</legend>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.about_me.label(class="form-control-label") }}
                            {% if form.about_me.errors %}
                                {{ form.about_me(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.about_me.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.about_me(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.old_pass.label(class="form-control-label") }}
                            {% if form.old_pass.errors %}
                                {{ form.old_pass(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.old_pass.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.old_pass(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.new_pass.label(class="form-control-label") }}
                            {% if form.new_pass.errors %}
                                {{ form.new_pass(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.new_pass.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.new_pass(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_pass.label(class="form-control-label") }}
                            {% if form.confirm_pass.errors %}
                                {{ form.confirm_pass(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_pass.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_pass(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.picture.label() }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary py-2 px-4 text-white") }}
                    </div>
                </form>
              </div>
              <fieldset class="form-group col-md-12">
                  <legend class="border-bottom mb-4">Activity</legend>
              </fieldset>
                {% for post in posts.items %}
                {% if current_user.has_liked_post(post) %}
                <div class="col-md-12 p-4 mb-3 bg-white">
                    <div class="m-0">
                        <p class="ml-2 font-weight-bold"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></p>
                        <p class="mb-4">{{ post.content }}</p>
                        <p class="col-md-10"><a href="#">{{ post.date_posted.strftime('%Y-%m-%d') }}</a></p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
          </div>
      </div>
    </div>

<script>
function showAccountUpdateFields() {
  var x = document.getElementById("accountUpdateForm");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock content %}